body {
    font-size: 1.5vw;
    padding-top: 2%;
    text-align: center;
    
}

.parent {
    background-color: lightgreen;
    margin: 0 auto;
    width: 90%;
    display: flex;

}

.title-box {
    background-color: lightpink;
    float: left;
    width: 38.5%;
    margin: 1% 0.5% 1% 1%;
    height: 80vh;
    overflow: auto;
}

.info-box {
    background-color: lightskyblue;
    float: left;
    width: 58.5%;
    margin: 1% 1% 1% 0.5%;
    height: 80vh;
}

.title {
    background: lightgrey;
    text-align: left;
    margin: 1% 1% 1% 1%;
    padding: 1% 1% 1% 1%;
    word-wrap: break-word;
}

.title:hover {
    cursor: pointer;
}

.title-input {
    margin: 5% 1% 1% 1%;
    width: 50%;
}

.message-input {
    margin: 5% 1% 1% 1%;
    width: 80%;
    height: 50vh;
    resize: none;
}

.save-button {
    margin: 5% 1% 1% 1%;
    width: 20%;
}

.delete-button {
    margin: 5% 1% 1% 1%;
    width: 20%;
}

.note-button {
    margin: 1% 1% 1% 1%;
    width: 40%;
}

.color-selector {
    margin: 5% 1% 1% 1%;
    width: 10%;
}